.books{
    min-width: 25%;
    background: #E3A230;
    transition: .3s ease;
    box-shadow: 5px 5px 10px rgba(0, 0, 0,.3);
    transition: .2s ease;
    cursor: pointer;
}

.books:hover{
    transform: translateY(-15px);
}

.books .image{
    width: 80%;
    vertical-align: top;
}

.books .image img{
    height: 500px;
    width: 325px;
}
