.text-white{
    color: white;
}

.container{
    width: 90%;
    margin: auto;
}

.best-seller{
        
}

.principal-container{
    font-size: 16px;
    min-height: 40.62em;
    color: #fff;
    margin-bottom: 3.12em;
    display: flex;
    align-items: end;
    margin: 0 auto;
	margin-bottom: 6.25em;
    position: relative;
}

.button-left,
.button-right {
	position: absolute;
	border: none;
	background: rgba(0,0,0,0.3);
	font-size: 40px;
	height: 50%;
	top: calc(50% - 25%);
	line-height: 40px;
	width: 50px;
	color: #fff;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
}

.button-left:hover,
.button-right:hover {
	background: rgba(0,0,0,0.8);
	color: #ffff;
}
.button-left {left: 0;}
.button-right {right: 0;}

.caroussel-container{
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.caroussel{
    display: flex;
}